/* *{
    margin:0;
    padding:0;
    font-family: "Karla", sans-serif;


}
body{
    display:flex;
    height:100%;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
  background: cyan;
  
}
.wrapper{
  margin-top:5rem ;
  width:70%;
    border:1px solid rgb(87, 83, 83);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:2rem;
    background: linear-gradient(-32deg,rgb(44, 44, 129),rgb(12, 94, 73),rgb(107, 1, 1));
    border-radius: 22px;
    box-shadow:11px  10px 14px rgb(56, 56, 56);


}


.image_div img{
    border:5px solid rgb(73, 52, 52);
    height:10rem;
    width:10rem;
    border-radius:50%;
    object-fit: cover;



}
.names{
  
    margin-top:-1rem;
    padding:5px;
    width:20rem;
    text-align: center;

}
#profileName{
font-size:25px;
font-weight:bold;
letter-spacing: 2px;



}

#userName{
    font-size: 15px;

}
.social_act{

    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.box{

    width:6rem;
    text-align: center;
    padding:5px;

}

.num_data{
    font-size:19px;
    font-weight: bolder;
}
.data{
    font-size:13px;
    
}
#follow_button{
    background-color: rgb(241, 35, 35);
    width:7rem;
    height:2.45rem;
    color:white;
    border-radius:22px;
    transition: 0.2s;
    font-size: 18px;
}

#follow_button:hover{
    background-color:brown;
    cursor: pointer;
    box-shadow:0 0 10px rgb(165, 138, 138);
}
p{
    font-size: 14px; 
      font-family: "Jost", sans-serif;
    

} */

/* .edit_menu{

 position: absolute;
  
padding: 2rem;
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgb(66, 46, 46);
  border-radius: 10px;
  box-shadow:0 0 10px rgb(14, 14, 14);

}
#p_name{
    height: 2rem;;
    font-size: 20px;
}
#p_bio{
    font-size:15px;
}
.edit_menu input ,textarea{
    width:80%;
  color:white;
      background-color: rgba(255,255,255,0.1);

   
}
#edit{
    background-color: rgb(236, 50, 50);
    height:1.5rem;
    width:4rem;
    font-size:16px;
    color:white;
    border-radius: 4px;

} */
.hidden{
  display: none;
}


